<div class="entity-create-container">
  <div class="page-header">
    <button nz-button nzType="text" (click)="onClickBackButton()">← Back</button>
  </div>

  <div *ngIf="entity$()" class="entity-create-content">
    <h1>New {{ entity$()!.name }}</h1>

    <nz-card class="create-form-card">
      <form nz-form nzLayout="vertical">
        <!-- <nz-form-item *ngFor="let field of entity$()!.fields; let isFirst = first" [ngIf]="field.type !== 'backlink'"> -->
        <nz-form-item *ngFor="let field of editableFields$(); let isFirst = first">
          <nz-form-label >{{ field.name }}</nz-form-label>
          <nz-form-control >
            <textarea
              *ngIf="field.type === 'long-text'"
              nz-input
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              [ngModel]="getFieldValue(field.id)"
              (ngModelChange)="setFieldValue(field.id, $event)"
              [name]="field.id"
              #firstInput>
            </textarea>
            <input
              *ngIf="field.type !== 'long-text' && field.type !== 'reference' && field.type !== 'option'"
              nz-input
              [type]="field.type === 'number' ? 'number' : 'text'"
              [ngModel]="getFieldValue(field.id)"
              (ngModelChange)="setFieldValue(field.id, $event)"
              [name]="field.id"
              #firstInput />
            <nz-select
              *ngIf="field.type === 'reference'"
              nzPlaceHolder="Select..."
              [ngModel]="getFieldValue(field.id)"
              (ngModelChange)="setFieldValue(field.id, $event)"
              [name]="field.id">
              <nz-option
                *ngFor="let opt of getReferencedRecordOptions(field)"
                [nzValue]="opt.value"
                [nzLabel]="opt.label">
              </nz-option>
            </nz-select>
            <nz-select
              *ngIf="field.type === 'option'"
              nzPlaceHolder="Select..."
              [ngModel]="getFieldValue(field.id)"
              (ngModelChange)="setFieldValue(field.id, $event)"
              [name]="field.id">
              <nz-option *ngFor="let val of field.optionValues" [nzValue]="val" [nzLabel]="val"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>

      <div class="form-actions">
        <button nz-button nzType="default" (click)="onClickBackButton()">Cancel</button>
        <button nz-button nzType="primary" (click)="onClickSubmit()">Create</button>
      </div>
    </nz-card>
  </div>
</div>
